table {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #efa7c4;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #e6a8ff;
}

body {
    background-image: url(https://i.pinimg.com/736x/96/a9/cb/96a9cb3da9d36c1b19edd99ea346444c.jpg);
}